@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    background-color: var(--body-bg-color);
    font-family: 'Montserrat';
}

:root {
    --body-bg-color: #f6f6f6;
    --background-color: #f14521;
    --black: #000000;
    --white: #FFFFFF;
    --btn-focus: #07263a;
    --btn-hover: #ff6544;
    --text-color: #233d7b;
}

.logo {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    margin-top: 75px;
}

.logo h3 {
    margin-top: 20px;
    text-align: center;
    color: var(--white);
    font-size: 25px;
    font-weight: 500;
}

.form {
    width: 100%;
}

.form-section .top-section h1 {
    margin-top: 59px;
    color: var(--text-color);
    font-size: 35px;
    font-weight: 500;
}

.form-section .top-section span {
    color: var(--background-color);
}

.form-section {
    padding: 10px 50px 10px 50px;
}

.form-section .form-input input {
    opacity: 0.6;
}

.form-section .form-input label {
    color: var(--black);
    font-size: 18px;
    font-weight: 300;
    margin-top: 40px;
}

.form-section .form-input span {
    color: var(--background-color);
}

.form-section .second-input input {
    opacity: 0.6;
}

.form-section .second-input label {
    color: var(--black);
    font-size: 18px;
    font-weight: 300;
    margin-top: 20px;
}

.field-icon {
    float: right;
    margin-left: -25px;
    margin-right: 50px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    color: #727272B2;
}

form i {
    margin-left: -30px;
    cursor: pointer;
}

.form-section input:focus {
    box-shadow: none;
}

.form-section .forgot a {
    float: right;
    margin-top: 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.form-section button {
    margin-top: 30px;
    padding: 10px 80px 10px 80px;
    font-size: 18px;
    font-weight: 500;
    /* font-style: italic; */
    color: var(--white);
    background-color: var(--background-color);
    border: none;
}

.form-section button:hover {
    background-color: var(--btn-hover);
}

.form-section button:focus {
    background-color: var(--btn-focus);
}

@media only screen and (max-width: 600px) {
    .logo h3 {
        font-size: 18px;
    }
    .form-section {
        padding: 10px 20px 10px 20px;
    }
    .form-section .top-section h1 {
        margin-top: 39px;
        font-size: 20px;
    }
    .form-section .form-input label {
        font-size: 16px;
        margin-top: 20px;
    }
    .form-section .second-input label {
        font-size: 16px;
        margin-top: 10px;
    }
}

@media only screen and (min-width:280px) and (max-width:305px) {
    .form-section {
        padding: 5px 15px 5px 15px;
    }
    .form-section .top-section h1 {
        margin-top: 25px;
        font-size: 18px;
    }
    .form-section .form-input label {
        font-size: 14px;
        margin-top: 20px;
    }
    .form-section .second-input label {
        font-size: 14px;
        margin-top: 10px;
    }
}

.form-section .form-input .form-control:focus {
    border-color: var(--background-color);
}

.form-section .second-input .form-control:focus {
    border-color: var(--background-color);
}

@media only screen and (max-width: 768px) {
    .logo img {
        display: none;
    }

    .logo {
        height: 100px;
    }
}
